<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div id="content">
        <h1>Página Admin</h1>
        <h3>Users ----------------------------------- </h3>
        <ul>
            <li th:each="user : ${users}">
                <span th:text="${user}"></span>
                <form th:action="@{/deleteUser}" method="post">
                    <input type="hidden" th:value="${user.id}" name="id"/>
                    <button class="remove-button" type="submit">Remover</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>